[Desktop Entry]
Type=Application
Name=Python-Password-Generator
Comment=password generator
GenericName=Python-Password-Generator
Exec=ppg
Icon=python
Terminal=true
Categories=Utility;
Keywords=Backup
MimeType=text/plain;
StartupNotify=true
